<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key ="MakeFullBackup" value="[dbo].[_BackUpAllDb_Full]"/>
    <add key ="MakeDiffBackup" value="[dbo].[_BackUpAllDb_Diff]"/>
  </appSettings>

  <connectionStrings>
    <add
      name="Default"
      connectionString="data source=PAUL-PC;initial catalog=MaintanceServer;integrated security=True;MultipleActiveResultSets=True;App=2x2-Agent.StartSp"
      providerName="System.Data.SqlClient" />

    <add
      name="Sql2012"
      connectionString="data source=PAUL-PC\SQL2012DE;initial catalog=MaintanceServer;integrated security=True;MultipleActiveResultSets=True;App=2x2-Agent.StartSp"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  
</configuration>